{% extends 'DiaryBundle:Default:index.html.twig' %}
{% block content %}
     <h1>Person<br/><small>Create</small></h1>

    {{ form(form) }}

    <div>
        <a href="{{ path('person') }}" class="btn btn-default">
            Back to the list
        </a>
    </div>
{% endblock %}
